{% extends 'main/header.html' %}
{% block content%}
{%load static%}

<img src="{% static "images/About.jpg" %}" class="img-fluid w-100" style="height:400px;" alt="...">
<div class='container'>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper a lacus vestibulum sed arcu. Dictum sit amet justo donec enim. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Sit amet mauris commodo quis imperdiet massa tincidunt. Praesent tristique magna sit amet purus gravida quis blandit. Porttitor eget dolor morbi non arcu risus quis varius. Est ante in nibh mauris cursus mattis molestie a. Cras pulvinar mattis nunc sed blandit. Malesuada pellentesque elit eget gravida cum sociis. Nascetur ridiculus mus mauris vitae ultricies. Tortor pretium viverra suspendisse potenti nullam ac. Molestie a iaculis at erat pellentesque adipiscing commodo. Sed turpis tincidunt id aliquet risus feugiat in ante. Amet nulla facilisi morbi tempus iaculis urna id. Magna ac placerat vestibulum lectus mauris ultrices eros in. Morbi blandit cursus risus at ultrices mi tempus.

Consequat semper viverra nam libero. Ac tortor dignissim convallis aenean et tortor at. Nisi vitae suscipit tellus mauris a. Viverra maecenas accumsan lacus vel facilisis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. In nisl nisi scelerisque eu. Ultrices dui sapien eget mi proin sed libero enim sed. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Duis tristique sollicitudin nibh sit amet. Cras ornare arcu dui vivamus arcu felis bibendum.

<br></br>
<h3 class="text-center"><strong> THE TEAM</strong></h3>

<div class='container'>
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <h6 class="text-center"><strong>Parish Minister</strong></h6>
            <img src="{% static "images/DSC_0018.jpg" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <h6 class="text-center"><strong>Youth Patron</strong></h6>
            <img src="{% static "images/DSC_0358.jpg" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <h6 class="text-center"><strong>Youth Coordinator</strong></h6>
              <img src="{% static "images/DSC_0650.jpg" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
              <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <h6 class="text-center"><strong>Chair</strong></h6>
            <img src="{% static "images/DSC_0532.jpg" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <h6 class="text-center"><strong>Vice-Chair</strong></h6>
              <img src="{% static "images/Screenshot 2022-07-28 151047.png" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
              <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <h6 class="text-center"><strong>Treasurer</strong></h6>
              <img src="{% static "images/Screenshot 2022-07-28 151353.png" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
              <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <h6 class="text-center"><strong>Secretary</strong></h6>
              <img src="{% static "images/DSC_0018.jpg" %}" style="height:250px;" class="img-fluid rounded-start" alt="...">
              <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}