{% extends 'main/header.html' %}
{% block content%}
{% load static%}

<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for ann in announcement %}
      {%if forloop.first %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src={{ann.Poster.url }} style="height:700px;" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-outline-info">Read More</button>
          </div>
        </div>
      {% else %}
        <div class="carousel-item {% if forloop.first %} {% endif %}">
          <img src={{ann.Poster.url}} style="height:700px;" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-outline-info">Read More</button>
          </div>
        </div>
      {% endif %}
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endfor %}
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <h3 class="text-center"><strong> SERVICES </strong></h3>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;" href="tuesday-service">
    
          <h6 class="text-center"><strong>TUESDAY SERVICE</strong></h6>
        
        <a href="/tuesday-service"><img src= "{% static "images/bf6dbc26-7e11-4143-91ef-73160b2d4c5d.jpeg" %}" style="height:350px;" class="img-fluid rounded-start" alt="...">
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;" href="sunday-service">
    
          <h6 class="text-center"><strong>SUNDAY SERVICE</strong></h6>
        
        <a href="/sunday-service"><img src= "{% static "images/WhatsApp Image 2023-01-17 at 3.08.38 PM.jpeg" %}" style="height:350px;" class="img-fluid rounded-start" alt="...">
        </a>
      </div>
    </div>
    {% comment %} <div class="col s8 m4">
      <div class="card mb-3" style="max-width: 18rem;" >
        <div class="youtube-container rounded">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zumDjHWM5Qc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <div class="row">
    <h3 class="text-center"><strong> WEEKLY MESSAGES </strong></h3>
    {%for mes in Messages%}
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;" href="">
          <h6 class="text-center"><strong>{{mes.Name}}</strong></h6>
          <a href=""><img src={{mes.Photo.url }} style="height:250px;" class="img-fluid rounded-start" alt="..."></a>
          <div class="card-body">
            <p class="card-text">{{mes.Message}}</p>
          </div>
        </div>
      </div>
      {% comment %} <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;" href="">
          <h6 class="text-center"><strong>Youth</strong></h6>
          <a href=""><img src="{% static "images/DSC_0358.JPG" %}" class="img-fluid rounded-start" alt="..."></a>
          <div class="card-body">
            <p class="card-text">“The will of man is an essential condition, for, without it, God does nothing.”    – St. Macarius of Egypt. Vladimir Lossky, The Mystical Theology of the Eastern Church (Crestwood, NY: St. Vladimir’s Seminary Press, 1976), p. 199. In the 19th century, a man named George Wilson was caught and convicted to death for murder. […]</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;" href="">
          <h6 class="text-center"><strong>Youth Coordinator</strong></h6>
          <a href=""><img src="{% static "images/DSC_0650.JPG" %}" class="img-fluid rounded-start" alt="..."></a>
          <div class="card-body">
            <p class="card-text">On March 18, 1990, two men in police uniforms walked into the Isabella Stewart Gardner Museum in Boston and walked away with thirteen artworks worth more than 500 million dollars. This is the biggest art theft in the U.S. The FBI believes with a high degree of confidence that the art was transported and is […]</p>
          </div>
        </div>
      </div> {% endcomment %}
    {% endfor %}
  </div>

  <h3 class="text-center"><strong> MPESA PROCEDURE </strong></h3>
    <div class="col s12 m6">
      <div class="card text-bg-light mb-3" style="max-width: 38rem;">
        {% comment %} <h5 class="card-header text-center">Mpesa Procedure</h5> {% endcomment %}
        <div class="card-body">
          <a href=""><img src="{% static "images/maxresdefault.jpg" %}" class="img-fluid rounded-start" alt="..."></a>
        <br></br>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Pay now</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header ">
                  <h5 class="modal-title" id="exampleModalLabel">Mpesa Payment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" >
                    {% csrf_token %}
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="name" class="col-form-label">Name :</label>
                        
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="name" required>
                      </div>
                    </div>
                  </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Mobile number :</label>
                        
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="number" required>
                      </div>
                    </div>
                  </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Purpose :</label>
                      </div>
                      <div class="col-auto">
                        <select class="form-select" name="purpose" required>
                          <option selected disabled value="validationCustom04">Choose...</option>
                          <option>Tithe</option>
                          <option>Offering</option>
                          <option>Thanksgiving</option>
                        </select>
                      </div>
                    </div>
                    </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Amount :</label>
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="amount" required>
                      </div>
                    </div>
                  </br>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Pay</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}