{% extends 'main/header.html' %}
{% block content %}
{% load static %}
{% comment %} slider section {% endcomment %}
<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for ann in announcement %}
      {%if forloop.first %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src={{ann.Poster.url }} class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>welcome to church</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi consequuntur, eos iste eaque veniam esse</p>
            {% comment %} <p><a href="#" class="btn btn-warning nt-3"> Read More</a></p> {% endcomment %}
            {% comment %} <button type="button" class="btn btn-outline-info">Read More</button> {% endcomment %}
          </div>
        </div>
      {% else %}
        <div class="carousel-item {% if forloop.first %} {% endif %}">
          <img src={{ann.Poster.url}} class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>Your home away from home</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi consequuntur, eos iste eaque veniam esse</p>
            {% comment %} <p><a href="#" class="btn btn-warning nt-3"> Read More</a></p> {% endcomment %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
</div>
{% comment %} end slider {% endcomment %}    

{% comment %} about section {% endcomment %}
<section id="about" class="about section-padding" data-bs-spy="scroll" data-bs-target="#navbar">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img src={% static "images/Family3.jpg"%} alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                  <h2>We Provide Best Quality <br> Services Ever </h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Felis bibendum ut tristique et egestas quis ipsum suspendisse. Augue eget arcu dictum varius duis at consectetur lorem donec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere.</p>
                  <a href="#" class="btn btn-warning">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</section>
<br></br>
{% comment %} end about {% endcomment %}

{% comment %} sermon section {% endcomment %}
<section id="services" class="services section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2>Weekly Messages</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Vitae et illo sed adipisci unde in!</p>
              </div>
          </div>
      </div>

      <div class="row">
        {%for mes in Messages%}
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                    <i class="bi bi-subtract"></i>
                    <h3 class="card-title">{{mes.Name}}</h3>
                    <p class="lead">{{mes.Message}}</p>
                    {% comment %} <button class="btn btn-warning text-dark">Read More</button> {% endcomment %}
                </div>
            </div>
          </div>
        {% endfor %}
          
      </div>
  </div>
</section>
<br></br>
{% comment %} end sermons {% endcomment %}

{% comment %} service section {% endcomment %}
<section id="services" class="services section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2>Our Services</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Vitae et illo sed adipisci unde in!</p>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="card text-center bg-white pb-2 ">
            <h3 class="card-header"><strong>TUESDAY SERVICE</strong></h3>
              <div class="card-body text-dark">
                  <div class="img-area mb-4">
                      <img src={% static "images/bf6dbc26-7e11-4143-91ef-73160b2d4c5d.jpeg"%} style="height:350px;" alt="" class="img-fluid">
                  </div>
                  <button class="btn btn-warning text-dark">Learn More</button>
              </div>
          </div>
        </div>  
        <div class="col-12 col-md-12 col-lg-6">
          <div class="card text-center bg-white pb-2">
            <h3 class="card-header"><strong>SUNDAY SERVICE</strong></h3>
              <div class="card-body text-dark">
                  <div class="img-area mb-4">
                      <img src="{% static "images/WhatsApp Image 2023-01-17 at 3.08.38 PM.jpeg" %}" style="height:350px;" alt="" class="img-fluid">
                  </div>
                  <button class="btn btn-warning text-dark">Learn More</button>
              </div>
              
          </div>
        </div>  
      </div>
  </div>
</section>
<br></br>
{% comment %} end service {% endcomment %}

<!-- mpesa section-->
<section id="services" class="services section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2>Mpesa Procedure</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Vitae et illo sed adipisci unde in!</p>
              </div>
          </div>
      </div>

      <div class="row"> 
        <div class="col-12 col-md-12 col-lg-8 mx-auto">
          <div class="card text-center bg-white pb-2">
              <div class="card-body text-dark">
                  <div class="img-area mb-4">
                      <img src="{% static "images/maxresdefault.jpg" %}" alt="" class="img-fluid rounded-start">
                  </div>
                  <button class="btn btn-warning text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Pay now</button>
              </div>
              
          </div>
        </div>  
      </div>
  </div>
</section>

<!-- end mpesa-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header ">
                  <h5 class="modal-title" id="exampleModalLabel">Mpesa Payment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" >
                    {% csrf_token %}
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="name" class="col-form-label">Name :</label>
                        
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="name" required>
                      </div>
                    </div>
                  </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Mobile number :</label>
                        
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="number" required>
                      </div>
                    </div>
                  </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Purpose :</label>
                      </div>
                      <div class="col-auto">
                        <select class="form-select" name="purpose" required>
                          <option selected disabled value="validationCustom04">Choose...</option>
                          <option>Tithe</option>
                          <option>Offering</option>
                          <option>Thanksgiving</option>
                        </select>
                      </div>
                    </div>
                    </br>
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="number" class="col-form-label">Amount :</label>
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control" name="amount" required>
                      </div>
                    </div>
                  </br>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Pay</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}