{% extends 'main/header.html' %}
{% block content%}
{%load static%}
{%load bootstrap%}
<section id="services" class="services section-padding">
  <div class='container'>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Filter
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button><br>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter out</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="get" class='col'>
                      {{filter.form|bootstrap}}
                      <br>
                      <button class="btn btn-primary" type="submit">Search</button>
                      {% comment %} <button type="submit">Search</button> {% endcomment %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </br>
    <div class="row">
      {%for team in filter.qs %}
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center bg-white pb-2">
          <h3 class="card-header text-uppercase"><strong>{{team.Name}}</strong></h3>
            <div class="card-body text-dark">
                <div class="img-area mb-4">
                    <img src={{team.Photo.url }} style="height:350px;" alt="" class="img-fluid rounded-start">
                </div>
                <p class="lead">{{team.Description}}</p>
                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">Join</button>
            </div>
            
        </div>
      </div>
      {% endfor %}
      
        {% comment %} <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <h6 class="text-center"><strong>{{fam.Name}}</strong></h6>
            <img src={{fam.Photo.url }} style="height:350px;" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="card-text">{{fam.Description}}</p>
                <footer class="blockquote-footer">Led by <cite title="Source Title">{{fam.Leader}}</cite></footer>
              </blockquote>
              <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">Join</button>
            </div>
          </div>
        </div> {% endcomment %}
    
    </div>
  </div>
</section>

{% comment %} code for the second modal {% endcomment %}
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Joining Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          {%csrf_token%}
          <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Full name" aria-label="Full name" name="name" required>
              </div>
          </div>
      <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number" name="number" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="District" aria-label="District" name="district" required>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary">Join</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
